.flex {
  display: flex;
  margin: 2rem 0;
}

.data_table{
  text-align: center;
  width: 100%;
}

.table_div{
  border: solid 0.5rem black;
  height: 30rem;
  overflow-y: scroll;
}

.th{
  top: 0;
  position: sticky;
  background: #e5d2f1;
}

.td{
  border: solid rgb(74, 74, 74) 0.01rem;
}

.icon{
  cursor: pointer;
  margin: 0.5rem 0.5rem;
}

.form{
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 50%;
  margin: 0 auto;
}

.selected_developers{
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
}

.navbar{
  background-color: #003366;
  padding: 0.8rem;
}