.flex {
  display: flex;
  margin: 2rem 0;
}



.modal_background{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #38598adc;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1;
}

.modal_div{
  background-color: white;
}

.modal{
}

.h2{
  text-align: center;
  margin-bottom: 1rem;
}

.form_condition{
  color: rgb(255, 135, 61);
  font-size: 1.2rem;
}
.add{
  background-color: #fcba19;
  width: 3rem;
  height: 1.4rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.2rem;
  cursor: pointer;
  color: white;

}

.x{
  background-color: #fcba19;
  width: 3rem;
  height: 1.4rem;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.2rem;
  cursor: pointer;
  color: white;
  margin: 0 0 0 auto;
}
.add_text{
}

.data_table{
  text-align: center;
  width: 100%;
}

.table_div{
  border: solid 0.5rem black;
  height: 30rem;
  overflow-y: scroll;
}

.th{
  top: 0;
  position: sticky;
  z-index: 0;
  background: #38598a;
  color: rgb(255, 255, 255);
}

.td{
  border: solid rgb(74, 74, 74) 0.01rem;
}

.icon{
  cursor: pointer;
  margin: 0.5rem 0.5rem;
}

.form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.edit_form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
}

.button{
  background-color: #fcba19;
  color: white;
  width: 40%;
  height: 2rem;
  margin: 1rem auto;
  border: none;
  cursor: pointer;
}

.selected_developers_box{
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
}

.selected_developers{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  color: white;
  width:fit-content;
  background-color: #38598a;
  padding: 0 0.5rem;
  border-radius: 4px;
}

.mini_delete{
  padding-left: 0.6rem;
  color:#fcba19;
  font-size: 1rem;
  cursor: pointer;
}

.navbar{
  background-color: #003366;
  padding: 0.8rem;
}
