.flex {
  display: flex;
  margin: 2rem 0;
}

.page{
  padding: 1rem;
}

.four_oh_four_page{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3.5rem;
  width: 100vw;
  height: 9rem;
  border-radius: 3px;
  padding: 1rem;
  color:#003366;
}

.a_tag, .a_tag:link, .a_tag:visited {
text-decoration: none;
color: white;
}

.modal_background{
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background-color: #38598adc;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
z-index: 1;
}

.modal_div{
  background-color: white;
  border-radius: 3px;
  padding: 1rem 1.5rem 2rem;
}

.input{
  margin: 0.7rem 0;
}

.product_name{
  padding-bottom: 0.7rem 0;
}

.display_column{
  display: flex;
  flex-direction: column;
}

.h2{
  text-align: center;
  margin-bottom: 1rem;
}


.form_condition{
  color: rgb(255, 135, 61);
  font-size: 1.2rem;
}

.align_right{
  display: flex;
  justify-content: flex-end;
}
.buttons{
  display: flex;
  justify-content: space-around;
  margin: 1.5rem;
}
.button{
  background-color: #fcba19;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: white;
  padding: 0.3rem 1rem;
  border: none;
  margin: 0 0.2rem;
}

.button:hover{
  filter:opacity(70%);
}

.data_table{
  text-align: center;
  width: 100%;
}

.table_div{
  border: solid 0.06rem #003366;
  height: 70vh;
  overflow-y: scroll;
  margin-top: 1rem;
}

.th{
  top: 0;
  position: sticky;
  z-index: 0;
  background: #38598a;
  color: rgb(255, 255, 255);
  height: 3.5rem;
}

.td{
  border: solid rgb(74, 74, 74) 0.01rem;
}

.product_name{
 text-align: left;
 padding-left: 1rem;
}

.icon{
  cursor: pointer;
  margin: 0.5rem 0.5rem;
}

.icon:hover{
  filter:opacity(50%);
}

.form{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.selected_developers_box{
  display: flex;
  justify-content: space-around;
  font-size: 0.7rem;
  margin-top: 1rem;
}

.selected_developers{
  display: flex;
  justify-content: space-around;
  align-items:baseline;
  color: white;
  width:fit-content;
  background-color: #38598a;
  padding: 0 0.5rem;
  margin: 0 0.2rem;
  border-radius: 4px;
}

.selected_developers:hover{
  filter: opacity(50%);
}

.mini_delete{
  padding-left: 0.6rem;
  color:#fcba19;
  font-size: 1rem;
  cursor: pointer;
}

.navbar{
  background-color: #003366;
  padding: 0.8rem;
}

.modal_div_search{
  background-color: white;
  border-radius: 3px;
  padding: 1rem 1.5rem 2rem;
  width: 98vw;
  height: 89vh;
}

.search_bar{
  display: flex;
  align-items: baseline;
  background-color: #38598a;
  padding: 0 1rem;
  margin: 0.2rem -0.05rem;
  color: white;
  border-radius: 4px;
}

.search_input{
  width: 30%;
  height: 1.7rem;
  border-radius: 4px;
  border: none;
  padding-left: 1rem;
  font-size: 1rem;
  background-color:  white;
}

.search_input:hover{
  background-color: #e8f1ff;
}

.search_input:focus{
  outline:#38598a solid 1rem;
  background-color: #c9dfff;
}